ntfy.jayparry.dev {
    reverse_proxy ntfy:2010

    # Redirect HTTP to HTTPS, but only for GET topic addresses, since we want
    # it to work with curl without the annoying https:// prefix
    @httpget {
        protocol http
        method GET
        path_regexp ^/([-_a-z0-9]{0,64}$|docs/|static/)
    }
    redir @httpget https://{host}{uri}
}

status.jayparry.dev {
    reverse_proxy gatus:8080
}